#body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add {
  background-color: #fafafa;
  width: 60vw;
  display: flex;
  justify-content: center;
}

#textin {
  margin: 1vw;
  width: 20vw;
}
