#body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}

#addBar {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}

.textIn {
  margin: 1vw 0 1vw 1vw;
  padding: 0.5vw;
  flex: 1;
  font-size: 16px;
}

.addBox {
  background-color: lightgrey;
  border: 1px solid grey;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add {
  font-size: 32px;
  cursor: pointer;
}

#heading {
  margin-top: 5vh;
  background-color: white;
  width: 60vw;
  border: 1px solid grey;
}

#heading p {
  margin-left: 2vw;
  font-weight: bold;
}

.entry {
  background-color: white;
  width: 60vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.text {
  flex: 1;
  margin-left: 2vw;
}

.icons {

}

.edit {
  margin-left: auto;
  margin-right: 1vw;
  font-size: 150%;
  cursor: pointer;
}

.delete {
  margin-right: 2vw;
  font-size: 150%;
  cursor: pointer;
}

.textEdit {
  margin: 0.95vw 2vw;
  flex: 1;
  font-size: 16px;
}

.bottom {
  min-height: 10vh;
}

@media only screen and (max-width: 1000px) {
  #addBar {width: 80vw;}
  .add {font-size: 28px;}
  #heading {width: 80vw;}
  .entry {width: 80vw;}
}

@media only screen and (max-width: 700px) {
  #addBar {width: 90vw;}
  .add {font-size: 24px;}
  #heading {width: 90vw;}
  .entry {width: 90vw;}
}
